<html lang="en">
<head>
    <meta charset="utf-8">
    <title>版本记录</title>
    <link href="/static/css/start/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link href="/static/css/box.css" rel="stylesheet">
    <link href="/static/css/table.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/static/js/jquery.layout-latest.js"></script>
    <script>
        $(function() {
            $('body').layout({
                spacing_open:0,
                spacing_close:1,
                applyDefaultStyles: true,
                west__resizable:false,
                west__size:250,
                north__size:80,
                north__closable:false,
                north__resizable:false });
            $('button').button();
            $('#branch').click(function(){
                $('#l_main').load('manageBranch.py');
            });
            $('#subBranch').click(function(){
                $('#l_main').load('manageSubBranch.py');
            });
            $('#version').click(function(){
                $('#l_main').load('manageVersion.py');
            });

            $('#browseVersion').click(function(){
                $('#l_main').load('browseVersion.py');
            });
        });

    </script>
    <style>
        .left_button{
            display:inline-block;
            margin:5px 10px;
            width: 200px;
        }
    </style>

</head>
<body>
<div id="msg1" class="msg ui-helper-hidden"  style="position: absolute;left:auto;top:85px;right:20px;width:60%;z-index: 100"></div>
<div  id="l_top" class="ui-layout-north">
    <div style="background:url(/static/images/top.jpg);position: absolute;top: 0px;left: 0px;right: 0px;bottom: auto;width: auto;height: 78px;">
        <div style="position: absolute;left:0px;top:auto;text-align: center;font-size: 50px;color:white;width: 100%;font-weight: bolder;">版本记录</div>
    </div>

</div>
<div id='l_left' class="ui-layout-west">
    <button class="left_button" id="branch">分支管理</button><br>
    <button class="left_button" id="subBranch">子分支管理</button><br>
    <button class="left_button" id="version">版本管理</button><br>
    <button class="left_button" id="user">用户管理</button><br>
    <br>
    <button class="left_button" id="browseVersion">版本浏览</button><br>
</div>
<div id='l_main' class="ui-layout-center">

</div>
<div id="dialog-confirm">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>是否确认删除？<span id="confirm"></span></p>
</div>
</body>
</html>