<html lang="en">
<head>
    <meta charset="utf-8">
    <title>版本浏览</title>
    <link href="/static/css/start/jquery-ui-1.10.4.custom.css" rel="stylesheet">
    <link href="/static/css/box.css" rel="stylesheet">
    <link href="/static/css/table.css" rel="stylesheet">
    <link href="/static/css/pages.css" rel="stylesheet">
    <script src="/static/js/jquery-1.10.2.js"></script>
    <script src="/static/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/static/js/helper.js"></script>
    <script src="/static/js/pages.js"></script>
    <script>

    </script>

</head>
<body>

{% for i in names %}
    {{ i|safe }}<br><br>
{% endfor %}
</body>
</html>